.hero {
  width: 100%;
  min-height: 707px;
  padding-top: 48px;
  padding-bottom: 64px;
}
.container {
  padding: 16px 25px 113px;
  border-radius: 25px;
  margin: 0 auto;
  width: 1081px;
  height: 595px;
  background: url('/images/main-bg-1x.jpg') center center/cover no-repeat;
}
.searchWrap {
  display: flex;
  justify-content: space-between;
  margin-bottom: 124px;
}
.wrapper {
  width: 332px;
}
.title {
  margin-bottom: 26px;
  font-weight: 800;
  font-size: 40px;
  color: #fff;
  span {
    color: #ee10b0;
  }
}
.subtitle {
  font-weight: 300;
  font-size: 12px;
}