.loginForm {
  display: flex;
  flex-direction: column;
  border: 1px solid #53063e;
  border-radius: 12px;
  padding: 16px 25px;
  width: 476px;
  height: 372px;
  background-color: #181818;
  position: relative;
  align-items: center;
}
label {
  font-weight: 500;
  font-size: 16px;
  margin-bottom: 8px;
}
input {
    width: 100%;
    border: 2px solid #d9d9d9;
    border-radius: 4px;
    padding: 8px 4px 8px 8px;
    width: 426px;
    height: 40px;
    background-color: transparent;
    padding-left: 36px;
    position: relative;
    margin-bottom: 24px;
  }
   input::placeholder {
    font-weight: 400;
    font-size: 10px;
    text-align: justify;
    color: #fff;
  }
  .label {
    display: flex;
    flex-direction: column;
    align-items: start;
  }
  .btn {
  border-radius: 4px;
  padding: 8px 36px;
  width: 100%;
  height: 44px;
  background-color: #ee10b0;
margin-bottom: 24px;
}
.btn:hover {
  background-color: transparent;
  border: 1px solid #ee10b0;
  color: #ee10b0;
  
}
/* .googleBtn {
  border: 2px solid #fff;
  border-radius: 4px;
  width: 426px;
  height: 39px;
  display: flex;
  align-items: center;
  justify-content: center;  
  gap: 8px;
  margin-top: 24px;
  padding-top: 8px;
  padding-bottom: 8px;
}
.googleBtn:hover {
  background-color: #fff;
  color: #000;
  
} */
 #googleBtn {
  margin: 0 auto;
 }
 .nsm7Bb-HzV7m-LgbsSe-Bz112c{
  width: 400px;
 }
.emailIcon {
  position: absolute;
  top: 60px;
  left: 34px;
}
.pswrdIcon {
  position: absolute;
  top: 152px;
  left: 32px;
}