.container {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: 1fr min-content;
  min-height: 100vh;
}
.aside {
  grid-row: 1 / 3;
  grid-column: 1;
  display: flex;
  flex-direction: column;
  z-index: 10;
}
.main {
  grid-row: 1;
  grid-column: 2;
}
.footerWrap {
  grid-row: 2;
  grid-column: 2;
}
