.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}

.modal {
  
  background: #1e1e1e;
  color: white;
  border-radius: 20px;
  padding: 30px;
  max-width: 90%;
  position: relative;
  transition: all 0.3s ease;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.trackVariant {
  width: 400px;
  border: 1px solid #0E9EEF;
  box-shadow: 8px 0 24px 0 #05324d;
}
.authVariant {
  border: 1px solid #EE10B0;
  box-shadow: 8px 0 24px 0 #5f0746;
}
.closeBtn {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 28px;
  background: none;
  border: none;
  color: #0E9EEF;
  cursor: pointer;
}
