.conteiner {
  margin-top: 64px;
}
.title {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 32px;
  color: #fff;
  margin-bottom: 14px;
  span {
    color: #EE10B0;
  }
}
.showMore {
  border-radius: 31px;
  padding: 18px 19px;
  width: 62px;
  height: 62px;
  background-color: #1e1e1e;
  border: none;
  font-size: 25px;
  cursor: pointer;
  transition: all 0.2s ease;
}
.showMore:hover{
  color: #0E9EEF;
}
.list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 36px;
  flex-wrap: wrap;
  align-items: center;
}

