.title {
  font-weight: 400;
  font-size: 36px;
  text-align: center;
  color: #fff;
  font-family: 'Just Another Hand', cursive;
  font-weight: 400;
  font-style: normal;
}
.genresCard {
  width: 200px;
      height: 140px;
      background-size: cover;
      border-radius: 5px;
      display: flex;
      align-items: flex-end;
      justify-content: center;
      padding: 10px;
      color: white;
      box-sizing: 0 4px 8px rgba(0, 0, 0, 0.2);
      transition: transform 0.3s ease;
      cursor: pointer;
      
}
.genresCard:hover {
  transform: scale(1.05);
}