.form {
  border-radius: 10px;
  padding: 6px 8px;
  width: 450px;
  height: 40px;
  position: relative;
}
.input {
  width: 100%;
  height: 40px;
  background-color: #1f1f1f;
  outline: none;
  padding-left: 36px;
  padding-top: 9px;
  padding-bottom: 9px;
  border: 1px solid #EE10B0;
  box-shadow: 8px 0 24px 0 rgba(238, 16, 176, 0.15);
  font-weight: 300;
  font-size: 12px;
  color: #fff;
  border-radius: 10px;
  transition: all 0.2s ease;
}
.btn {
  cursor: pointer;
  border:none;
  background-color: #1f1f1f;
  position: absolute;
  top: 13px;
  left: 15px;
  svg {
    color: #EE10B0;
    transition: all 0.2s ease;
  }
}
.input:hover,
.input:focus {
  border: 1px solid #0E9EEF;
   box-shadow: 8px 0 24px 0 #05324d;
}

.form:has(.input:hover) svg,
.form:has(.input:focus) svg {
  color: #0E9EEF;
}
