.authTabs {
  margin: 0 auto;
  display: flex;
  gap: 24px;
  justify-content: center;
  margin-bottom: 16px;
  
}
.activeTab {
  font-weight: 700;
font-size: 24px;
text-align: justify;
color: #EE10B0;
border-bottom: 2px solid #EE10B0;
}
.tab {
  font-weight: 600;
font-size: 20px;
text-align: center;
color: #FAB5E7;
}