.cardWrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 174px;
  max-height: 225px;
  cursor: pointer;
  transition: transform 0.3s ease;
  padding: 8px;
  border-radius: 8px;
  background: #1f1f1f;
  gap: 8px;
}
.cardWrap:hover {
  transform: scale(1.05);
}
.img {
  border-radius: 10px;
  width: 158px;
  height: 150px;
  
}
.title {
  font-weight: 500;
  font-size: 16px;
  display: -webkit-box;
  display: box;
  -webkit-box-orient: vertical;
  box-orient: vertical;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
}
.artist {
  font-weight: 300;
  font-size: 12px;
  color: #fff;
  opacity: 0.8;
}
