.wrapper {
  background-color: black;
  height: 100vh;
  width: 100%;
}
.container {
  background: url('../../../public/images/404.png') center center/cover no-repeat;
  width: 400px;
  height: 300px;
  margin: 0 auto;
  margin-bottom: 40px;
}
.btn {
  display: block;
  margin: 0 auto;
}